.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  background-color: #df1a1d;
}

.navigation-link {
  width: 255px;
  height: 44px;
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 17px;
  line-height: 47px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation-link:hover {
  background-color: #cf6219;
}

.navigation-link.selected {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #b66129;
}

.body {
  height: 1988px;
  background-color: #2b3e50;
}

.body.rose {
  background-color: #4e2f3b;
}

.body.portal {
  overflow-x: auto;
  overflow-y: auto;
  height: 500px;
  background-image: -webkit-linear-gradient(rgba(43, 62, 80, 0.74) 2%, rgba(43, 62, 80, 0.54)), url('../images/slide2.jpg');
  background-image: linear-gradient(rgba(43, 62, 80, 0.74) 2%, rgba(43, 62, 80, 0.54)), url('../images/slide2.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.status-bar {
  height: 45px;
  background-color: #fafafa;
}

.tabs-menu {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.tab-link {
  width: 100px;
  background-color: #df1a1d;
}

.tab-link.w--current {
  background-color: #c2aea2;
}

.tab-pane {
  height: 100%;
}

.tab-content {
  height: 750px;
}

.nav-linkl {
  display: inline-block;
  text-align: left;
}

.nav-link {
  position: static;
  display: block;
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  text-align: center;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.navigation-section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow-x: auto;
  overflow-y: auto;
  height: 44px;
  margin-top: 0px;
  background-color: #df1a1d;
  box-shadow: black 0px 14px 11px 0px;
  line-height: 25px;
}

.navigation-col-frame {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 44px;
}

.select-page-col {
  height: 44px;
  background-color: #b66129;
}

.nav-col {
  height: 44px;
  margin-top: 1px;
}

.welcome {
  margin-top: 35px;
  font-family: Raleway, sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
}

.slide-1 {
  background-image: url('../images/slide1.jpg');
  background-position: 0px -401px;
  background-size: auto;
  background-attachment: fixed;
}

.slider {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: -10px;
}

.slider.slide-2 {
  height: 360px;
  margin-top: 43px;
  border-bottom: 3px solid #643568;
  background-image: url('../images/slide2.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-text {
  margin-top: 70px;
  font-family: Raleway, sans-serif;
  color: white;
  font-weight: 600;
  text-align: center;
}

.slide-para {
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-section {
  height: 650px;
}

.about-section.lunar {
  background-color: #2c2c2c;
  color: white;
}

.about-section.oprium {
  background-color: #214b44;
}

.about-heading-1 {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Raleway, sans-serif;
  color: white;
  font-weight: 300;
}

.about-heading-1.creative {
  color: #57ff98;
}

.about-heading-1.survival {
  color: #ee3b3b;
}

.about-heading-1.sky-block {
  color: #5778ff;
}

.about-heading {
  font-family: Raleway, sans-serif;
  color: white;
}

.about-heading.staff {
  margin-top: 25px;
}

.about-heading.staff.news-tab {
  height: 75px;
  line-height: 65px;
}

.about-heading.news-heading {
  height: 75px;
  background-color: #df1a1d;
  line-height: 65px;
}

.about-heading.plugins {
  margin-top: -18px;
  line-height: 55px;
}

.about-heading.plugin-slider-name {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.about-heading.plugin-slider-name.factions {
  color: white;
}

.about-para {
  font-family: Raleway, sans-serif;
  color: white;
  font-weight: 400;
}

.about-para.buycraft {
  font-size: 15px;
  text-align: left;
}

.about-para.buycraft.current-promotions {
  font-weight: 600;
  text-transform: none;
}

.about-para.buycraft.promo {
  font-size: 17px;
}

.about-para.buycraft.promo.teamspeak-ip {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.alert-box {
  display: block;
  margin-top: 0px;
  background-color: #df1a1d;
  text-align: right;
}

.alert-box.server-players {
  margin-left: -4px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  height: 55px;
  background-color: #df1a1d;
}

.nav.lunar {
  background-color: #643568;
}

.nav.oprium {
  background-color: #72b1b9;
}

.nav.rose {
  background-color: #913131;
}

.nav.ui {
  position: static;
}

.nav.asset {
  position: static;
}

.navi-link {
  position: relative;
  width: 255px;
  float: none;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.nav-menu-frame {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.nav-container {
  height: 45px;
}

.nav-row {
  height: 45px;
}

.navi-col {
  height: 55px;
  cursor: pointer;
}

.navi-col:hover {
  background-color: #df1a1d;
}

.navi-col.current-col {
  background-color: #bb292c;
}

.navi-col.current-col.lunar {
  background-color: #643568;
}

.navi-col.oprium {
  background-color: #72b1b9;
}

.navi-col.lunar {
  background-color: #643568;
}

.navi-col.rose {
  background-color: #913131;
}

.navi-text {
  height: 55px;
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 20px;
  line-height: 51px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.navi-text.current {
  background-color: #df1a1d;
}

.buycraft-section {
  background-color: #df1a1d;
  box-shadow: black 0px -3px 8px 0px, black 0px 3px 8px 0px;
}

.buycraft-section.lunar {
  background-color: #643568;
}

.buycraft-section.oprium {
  background-color: #72b1b9;
}

.buycraft-section.rose {
  background-color: #913131;
}

.btn.vote {
  width: 160px;
  margin-top: 20px;
  background-color: #df1a1d;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.btn.vote:hover {
  background-color: #b81616;
}

.btn.vote.lunar {
  background-color: #643568;
}

.btn.vote.lunar:hover {
  background-color: #5d3161;
}

.btn.vote.oprium {
  background-color: #72b1b9;
}

.btn.vote.oprium:hover {
  background-color: #659ca3;
}

.btn.vote.rose {
  background-color: #913131;
}

.btn.vote.rose:hover {
  background-color: #852e2e;
}

.btn.transparent {
  display: block;
  width: 250px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: 1px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.btn.transparent.buycraft {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn.transparent.buycraft:hover {
  background-color: rgba(255, 255, 255, 0.49);
}

.staff-section {
  height: 500px;
  border-bottom: 3px none #df1a1d;
  color: white;
}

.staff-section.oprium {
  background-color: #214b44;
}

.staff-section.lunar {
  background-color: #2c2c2c;
}

.staff-head-image {
  display: block;
  width: 125px;
  height: 125px;
  margin-right: auto;
  margin-left: auto;
  border: 4px solid white;
  border-radius: 100px;
  cursor: default;
}

.staff-head-image._35px {
  margin-top: 35px;
}

.staff {
  height: 45px;
}

.lan-link {
  width: 300px;
  height: 45px;
}

.lan-link.plugins-link {
  height: 15px;
}

.nav-text-link {
  width: 78px;
  color: white;
  text-decoration: none;
}

.link-top {
  width: 100%;
  height: 45px;
}

.navigation-btn.transparent {
  width: 100%;
  height: 55px;
  background-color: #df1a1d;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-btn.transparent:hover {
  background-color: #bb2929;
}

.navigation-btn.transparent.w--current:hover {
  background-color: #bb2929;
}

.navigation-btn.transparent.middle {
  background-color: #bb292c;
}

.navigation-btn.transparent.middle.lunar-middle {
  background-color: #552c58;
}

.navigation-btn.transparent.middle.oprium-middle {
  background-color: #639399;
}

.navigation-btn.transparent.middle.rose-middle {
  background-color: #702929;
}

.navigation-btn.transparent.lunar {
  background-color: #643568;
}

.navigation-btn.transparent.lunar:hover {
  background-color: #58305c;
}

.navigation-btn.transparent.oprium {
  background-color: #72b1b9;
}

.navigation-btn.transparent.oprium:hover {
  background-color: #659ca3;
}

.navigation-btn.transparent.rose {
  background-color: #913131;
}

.navigation-btn.transparent.rose:hover {
  background-color: #802b2b;
}

.about-link {
  width: 100%;
  height: 45px;
}

.buycraft-link {
  width: 100%;
  height: 20px;
}

.news-section {
  height: 900px;
}

.news-container {
  height: 500px;
}

.teamspeak-section {
  height: 90px;
  background-color: #df1a1d;
}

.gallery-section {
  height: 650px;
}

.plugins-section {
  height: 121px;
  background-color: #df1a1d;
}

.plugin-mask {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}

.plugin-slider {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}

.plugin-slider-1 {
  width: 150px;
  height: 150px;
  background-color: #2b3e50;
  background-image: url('../images/factionslogo2.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.plugin-slider-1:active {
  background-color: #2b3e50;
}

.plugin-slider-1:focus {
  background-color: #2b3e50;
}

.plugin-slider-2 {
  background-color: #2b3e50;
  background-image: url('../images/mcmmo.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.plugin-slider-n {
  height: 64px;
  margin-top: -10px;
  background-color: #df1a1d;
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35px;
  background-color: #c51619;
}

.footer.lunar {
  background-color: #503f52;
}

.footer.portal {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.vote-for-us {
  height: 180px;
  border-bottom: 2px solid #ad3133;
  background-color: #df1a1d;
}

.vote-for-us.lunar {
  background-color: #643568;
}

.vote-for-us.oprium {
  background-color: #72b1b9;
}

.vote-for-us.rose {
  background-color: #913131;
}

.voting-para {
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 17px;
}

.copyright-notice {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35px;
  margin-top: 0px;
  margin-left: 10px;
  color: #b8b8b8;
  line-height: 30px;
  text-align: left;
}

.slide-nav.lunar {
  border-bottom: 4px solid #643568;
}

.slide-nav.oprium {
  border-bottom: 4px solid #72b1b9;
}

.theme-name {
  font-family: Montserrat, sans-serif;
  color: #659ca3;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}

.theme-name.lunar {
  color: #8e5294;
}

.heading.portal {
  display: block;
  margin-top: 144px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
}

.portal-container {
  height: 589px;
  margin-top: 120px;
}

.portal-row {
  margin-top: 217px;
}

.image.portal {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  border-radius: 0px;
  text-align: center;
}

.portal-image {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.portal-button {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid white;
  background-color: rgba(0, 136, 255, 0);
  background-image: url('../images/comments16.png');
  background-position: 50% 50%;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  text-align: center;
}

.portal-button:hover {
  background-color: rgba(153, 153, 153, 0.55);
}

.portal-button.home {
  border-radius: 100px;
  background-image: url('../images/home168.png');
  background-size: 75px 75px;
}

.portal-button.forums {
  border-radius: 100px;
}

.portal-button.buycraft {
  border-radius: 100px;
  background-image: url('../images/dollar185.png');
  background-size: 75px 75px;
}

.portal-button.twitter {
  border-radius: 100px;
  background-image: url('../images/twitter1.png');
  background-size: 70px 70px;
}

.portal-link-name {
  font-family: Raleway, sans-serif;
  color: #ffe7e7;
  font-weight: 300;
  text-align: center;
}

.portal-heading {
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.mineox-banner {
  display: block;
  width: 300px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}

.mineox-portal {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.blank-section {
  height: 148px;
}

.body-ui {
  background-color: #2b3e50;
}

.assets {
  height: 400px;
  margin-top: 52px;
}

.ui-container {
  height: 450px;
}

.ui-asset-heading {
  width: 200px;
  border-bottom: 1px solid white;
  font-family: Raleway, sans-serif;
  color: white;
  line-height: 47px;
  font-weight: 400;
}

.row {
  height: 100%;
}

.assets-1 {
  height: 500px;
}

.assets-2 {
  height: 500px;
}

.assets-3 {
  height: 500px;
}

html.w-mod-js *[data-ix="staff-head-rotate"] {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

html.w-mod-js *[data-ix="load"] {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

html.w-mod-js *[data-ix="slider-text-trans"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-portal"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .body.mobile {
    height: 1260px;
  }
  .about-heading-1.creative.mobile {
    color: white;
    text-align: center;
  }
  .about-heading-1.mobile-heading-sub {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
  }
  .about-heading.buycraft.mobile {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    text-align: center;
  }
  .about-para.mobile-para {
    font-weight: 300;
    text-align: center;
  }
  .btn.vote.mobile {
    display: block;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .btn.transparent.buycraft.mobile {
    margin-top: 35px;
  }
  .footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
    margin-top: 45px;
    padding-top: 0px;
  }
  .footer.mobile {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: inline-block;
    overflow-x: visible;
    overflow-y: visible;
  }
  .copyright-notice.mobile {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .mobile-heading {
    display: block;
    margin-top: 88px;
    margin-right: auto;
    margin-left: auto;
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 400;
    text-align: center;
  }
  .mobile-heading.servers {
    margin-top: 40px;
  }
  .mobile-heading.staff {
    margin-top: 45px;
  }
  .mobile-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #df1a1d;
  }
  .mobile-nav-icon {
    width: 96px;
    color: white;
  }
  .mobile-nav-link {
    width: 728px;
    background-color: #df1a1d;
    font-family: Lato, sans-serif;
    color: white;
    font-size: 15px;
  }
  .mobile-nav-link:hover {
    background-color: #d16116;
  }
  .mobile-nav-menu {
    background-color: #df1a1d;
  }
  .mobile-menu-button {
    background-color: #df1a1d;
  }
  .mobile-menu-button:focus {
    background-color: #d16116;
  }
  .mobile-menu-button.w--open {
    background-color: #df1a1d;
  }
  .mobile-menu-button.w--open:hover {
    background-color: #df1a1d;
  }
  .mobile-menu-button.w--open:active {
    background-color: #d16116;
  }
  .mobile-menu-button.w--open:focus {
    background-color: #df1a1d;
  }
  .mobile-watermark {
    display: block;
    margin-top: -17px;
    margin-right: auto;
    margin-left: auto;
    color: #6f6f6f;
    text-align: center;
  }
  .mobile-image {
    display: block;
    width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 100px;
  }
  .mobile-image._10-px {
    margin-top: 10px;
  }
  .mobile-image._25-px {
    margin-top: 25px;
  }
  .mobile-buycraft {
    height: 280px;
    margin-top: 30px;
    background-color: #df1a1d;
  }
  .vote-section {
    height: 261px;
  }
  .mobile-link-about {
    width: 100%;
    height: 18px;
  }
  .mobile-staff-link {
    width: 100%;
    height: 21px;
  }
  .mobile-buycraft-link {
    width: 100%;
    height: 25px;
  }
  .mobile-vote-section {
    width: 100%;
    height: 25px;
  }
}

@media (max-width: 767px) {}

@media (max-width: 479px) {}

